@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "abstracts/breakpoints" as *;

.pictures {
  @include section;

  .title {
    @include title;
  }

  .dots {
    color: #fff;
    font-size: 1.625rem;
    text-align: center;
    line-height: 2rem;
    display: none;

    @include mobile {
      display: block;
    }
  }

  .selector {
    display: flex;
    justify-content: space-between;
    padding: 0 14.5rem;
    margin-bottom: 2.875rem;

    @include custom(1255) {
      padding: 0 6rem;
    }

    @include laptop {
      margin-bottom: 2.6875rem;
    }

    @include tablet {
      padding: 0;
      margin-bottom: 1.5625rem;
    }

    @include mobile {
      margin-bottom: 0.9375;
    }

    a {
      width: 15.3125rem;
      height: 4.6875rem;
      border: 0.3125rem solid $text;
      border-radius: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $text;
      font-size: 1.75rem;
      font-weight: 600;
      cursor: pointer; 

      &.active {
        background-color: $text;
        color: $dark-bg;
      }

      @include custom(1352) {
        width: 13rem;
      }

      @include custom(1255) {
        width: 12rem;
        font-size: 1.5rem;
      }

      @include custom(700) {
        width: 9.5rem;
        font-size: 1.4rem;
      }

      @include custom(505) {
        font-size: 1.2rem;
        width: 8rem;
        height: 3.375rem;
      }

      @include custom(430) {
        font-size: 0.9rem;
        width: 6.5rem;
      }

      @include custom(350) {
        font-size: 0.65rem;
        width: 5.25rem;
      }

    }
  }

  .gallery-container {
    position: relative; 
    overflow: hidden; 
    padding: 0 4rem;

    &:hover .arrow {
        opacity: 1;
    }
  }

  .arrow {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 2.5rem; 
    height: 2.5rem; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;

    svg {
        width: 100%;
        height: 100%;
        path {
            fill: white; 
        }
    }

    &.left-arrow {
      left: 1rem;
    }

    &.right-arrow {
      right: 1rem; 
    }
  }

  .gallery {
    display: flex; 
    transition: transform 0.5s ease-in-out; 
    gap: 3.125rem;

    &[hidden] {
      display: none;
    }

    @include laptop {
      gap: 0.8125rem;
    }

    @include tablet {
      flex-wrap: nowrap; 
      gap: 3.125rem;
    }

    @include mobile {
      flex-wrap: nowrap; 
    }

    .gallery-column {
      min-width: calc((100% - (2 * 3.125rem)) / 3); 
      display: flex;
      flex-direction: column;
      gap: 3.125rem;
      @include laptop {
        gap: 0.8125rem;
      }
      @include tablet {
        gap: 3.125rem;
        min-width: calc((100% - 3.125rem) / 2); 
        &:last-child {
          display: none; 
        }
      }
      @include mobile {
        min-width: 100%; 
        &:nth-last-child(2) {
          display: none;
        }
        img:last-child {
          display: none;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}