@use "base/reset";
@use "abstracts/variables" as *;
@use "base/typography";
@use "abstracts/mixins" as *;
@use "abstracts/breakpoints" as *;

body {
  max-width: 100vw;
  background-color: $dark-bg;
}

.home {
  height: 62rem;
  background-image: url("./assets/jpg/background.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 4.375rem;

  .content {
    position: relative;
    z-index: 10;

    header {
      height: 7.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .title {
        font-size: 2rem;
        color: $text;
        font-weight: bold;
      }

      .subtitle {
        font-size: 1.25rem;
        color: #fff;
        font-weight: 400;
      }

      menu {
        padding: 0;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem;
          cursor: pointer;
          padding: 1rem 1.6875rem;
        }
      }
    }

    .vision {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .vision_wrapper {
        margin-top: 8.5rem;
        max-width: 36.4375rem;
        color: #fff;
        text-align: right;

        .title {
          @include title;
          color: #fff;
          text-align: right;
          line-height: 4.75rem;
          margin-bottom: 1.1875rem;
        }

        .subtitle {
          font-size: 1.75rem;
          margin-bottom: 1.1875rem;
          line-height: 2.0625rem;
        }

        .button {
          background-color: $text;
          display: inline-block;
          color: $dark-bg;
          font-size: 1.75rem;
          font-weight: bold;
          padding: 1.25rem 1.5625rem;
          border-radius: 0.9375rem;
          text-decoration: none;
        }
      }
    }
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-bg;
    opacity: 55%;
  }
}

.why-us {
  @include section;

  .title {
    @include title;
  }

  ul {
    border-left: 0.3125rem solid $text;
    color: $text;
    padding-left: 4.375rem;
    list-style: none;
    max-width: 56.75rem;
    margin: auto;

    li {
      margin-bottom: 2.5625rem;

      .label {
        font-size: 3rem;
        line-height: 3.5625rem;
      }

      .description {
        font-size: 2rem;
        line-height: 2.375rem;
      }
    }
  }
}

.products {
  @include section;

  .title {
    @include title;
  }

  .product-list {
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $text;

      img {
        margin-bottom: 1.25rem;
      }

      .label {
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.375rem;
      }

      .description {
        max-width: 13.75rem;
        font-size: 1.625rem;
        font-weight: normal;
        text-align: center;
        line-height: 1.9375rem;
      }
    }
  }
}

.pictures {
  @include section;

  .title {
    @include title;
  }

  menu {
    display: flex;
    justify-content: space-between;
    padding: 0 14.5rem;
    margin-bottom: 2.875rem;

    a {
      width: 15.3125rem;
      height: 4.6875rem;
      border: 0.3125rem solid $text;
      border-radius: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $text;
      font-size: 1.75rem;
      font-weight: semibold;

      &:nth-child(2) {
        background-color: $text;
        color: $dark-bg;
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.125rem;

    img {
      width: 100%;
    }
  }
}

.video {
  @include section;

  .title {
    @include title;
  }

  .player {
    display: flex;
    align-items: center;
    justify-content: center;

    .overlay {
      position: absolute;
      z-index: 2;
    }

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}

.price {
  @include section;
  padding-bottom: 4.6875rem;

  .title {
    @include title;
  }

  .prices {
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      width: 22.5rem;
      height: 18.875rem;
      border-radius: 1.875rem;
      border: 0.1875rem solid $cyan;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 1.6875rem;
      gap: 2rem;

      .label {
        font-size: 2rem;
        color: $text;
      }

      .price-label {
        font-size: 1.75rem;
        color: $text;
      }

      .order-button {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        display: flex;
        width: 12.5rem;
        height: 4.375rem;
        background-color: $cyan;
        border-radius: 0.9375rem;
        justify-content: center;
        align-items: center;

      }
    }
  }
}

.contact {
  @include section;
  height: 41.25rem;
  background-image: url("./assets/jpg/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .title {
    @include title;
  }

  .wrapper {
    display: flex;
    justify-content: flex-end;

    form {
      width: 37.5rem;
      height: 21.6875rem;
      background-color: $cyan;
      border-radius: 1.875rem;
      padding: 2.75rem 4.8125rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .inputs {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        margin-bottom: 1.3125rem;
        width: 100%;

        input {
          color: #fff;
          background-color: $cyan;
          border: 0;
          border-bottom: 0.1875rem solid $text;
          outline: 0;
          font-size: 1.25rem;

          &::placeholder {
            color: #fff;
          }
        }
      }

      button {
        color: $text;
        background-color: $cyan;
        border: 0.1875rem solid $text;
        padding: 0.625rem 2.625rem;
        font-size: 1.25rem;
        border-radius: 0.9375rem;
        cursor: pointer;
      }
    }
  }
}

footer {
  height: 7.5rem;
  background-color: $footer-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.375rem 0 4.375rem;
  color: $text;
  font-size: 1.25rem;

  a {

    text-decoration: none;
  }

  .contacts {
    a {
      color: $text;
      display: block;

      &:hover {
        color: $cyan;
      }
    }
  }

  .links {
    display: flex;
    gap: 1rem;
  }
}
