/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styling */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #2C3333;
}

.home {
  width: 100vw;
  height: 62rem;
  background-image: url("./assets/jpg/background.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 4.375rem;
}
.home .content {
  position: relative;
  z-index: 10;
}
.home .content header {
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.home .content header .title {
  font-size: 2rem;
  color: #CBE4DE;
  font-weight: bold;
}
.home .content header .subtitle {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 400;
}
.home .content header menu {
  padding: 0;
}
.home .content header menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem 1.6875rem;
}
.home .content .vision {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.home .content .vision .vision_wrapper {
  margin-top: 8.5rem;
  max-width: 36.4375rem;
  color: #fff;
  text-align: right;
}
.home .content .vision .vision_wrapper .title {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: #CBE4DE;
  margin-bottom: 2.875rem;
  color: #fff;
  text-align: right;
  line-height: 4.75rem;
  margin-bottom: 1.1875rem;
}
.home .content .vision .vision_wrapper .subtitle {
  font-size: 1.75rem;
  margin-bottom: 1.1875rem;
  line-height: 2.0625rem;
}
.home .content .vision .vision_wrapper .button {
  background-color: #CBE4DE;
  display: inline-block;
  color: #2C3333;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 1.25rem 1.5625rem;
  border-radius: 0.9375rem;
  text-decoration: none;
}
.home .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2C3333;
  opacity: 55%;
}

.why-us {
  padding: 4.6875rem 4.375rem 0 4.375rem;
}
.why-us .title {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: #CBE4DE;
  margin-bottom: 2.875rem;
}
.why-us ul {
  border-left: 0.3125rem solid #CBE4DE;
  color: #CBE4DE;
  padding-left: 4.375rem;
  list-style: none;
  max-width: 56.75rem;
  margin: auto;
}
.why-us ul li {
  margin-bottom: 2.5625rem;
}
.why-us ul li .label {
  font-size: 3rem;
  line-height: 3.5625rem;
}
.why-us ul li .description {
  font-size: 2rem;
  line-height: 2.375rem;
}

.products {
  padding: 4.6875rem 4.375rem 0 4.375rem;
}
.products .title {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: #CBE4DE;
  margin-bottom: 2.875rem;
}
.products .product-list {
  display: flex;
  justify-content: space-between;
}
.products .product-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #CBE4DE;
}
.products .product-list li img {
  margin-bottom: 1.25rem;
}
.products .product-list li .label {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.375rem;
}
.products .product-list li .description {
  max-width: 13.75rem;
  font-size: 1.625rem;
  font-weight: normal;
  text-align: center;
  line-height: 1.9375rem;
}

.pictures {
  padding: 4.6875rem 4.375rem 0 4.375rem;
}
.pictures .title {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: #CBE4DE;
  margin-bottom: 2.875rem;
}
.pictures menu {
  display: flex;
  justify-content: space-between;
  padding: 0 14.5rem;
  margin-bottom: 2.875rem;
}
.pictures menu a {
  width: 15.3125rem;
  height: 4.6875rem;
  border: 0.3125rem solid #CBE4DE;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #CBE4DE;
  font-size: 1.75rem;
  font-weight: semibold;
}
.pictures menu a:nth-child(2) {
  background-color: #CBE4DE;
  color: #2C3333;
}
.pictures .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.125rem;
}
.pictures .gallery img {
  width: 100%;
}

.video {
  padding: 4.6875rem 4.375rem 0 4.375rem;
}
.video .title {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: #CBE4DE;
  margin-bottom: 2.875rem;
}
.video .player {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video .player .overlay {
  position: absolute;
  z-index: 2;
}
.video .player img {
  width: 100%;
  cursor: pointer;
}

.price {
  padding: 4.6875rem 4.375rem 0 4.375rem;
  padding-bottom: 4.6875rem;
}
.price .title {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: #CBE4DE;
  margin-bottom: 2.875rem;
}
.price .prices {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.price .prices li {
  width: 22.5rem;
  height: 18.875rem;
  border-radius: 1.875rem;
  border: 0.1875rem solid #0E8388;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1.6875rem;
  gap: 2rem;
}
.price .prices li .label {
  font-size: 2rem;
  color: #CBE4DE;
}
.price .prices li .price-label {
  font-size: 1.75rem;
  color: #CBE4DE;
}
.price .prices li .order-button {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  width: 12.5rem;
  height: 4.375rem;
  background-color: #0E8388;
  border-radius: 0.9375rem;
  justify-content: center;
  align-items: center;
}

.contact {
  padding: 4.6875rem 4.375rem 0 4.375rem;
  height: 41.25rem;
  background-image: url("./assets/jpg/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .title {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: #CBE4DE;
  margin-bottom: 2.875rem;
}
.contact .wrapper {
  display: flex;
  justify-content: flex-end;
}
.contact .wrapper form {
  width: 37.5rem;
  height: 21.6875rem;
  background-color: #0E8388;
  border-radius: 1.875rem;
}

/*# sourceMappingURL=style.css.map */
